/[L|l]ibrary/
/[T|t]emp/
/[O|o]bj/
/[B|b]uild/
/[B|b]uilds/
/[L|l]ogs/
/[U|u]ser[S|s]ettings/
*.csproj
*.sln
/[Pp]ackages/
![Pp]ackages/manifest.json
![Pp]ackages/packages-lock.json
/[Aa]ssets/Plugins/Zenject/OptionalExtras/UnitTests/
/[Aa]ssets/Plugins/Zenject/OptionalExtras/UnitTests.meta
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Builds]/